body {
    background-color:#f0f0f0;
 }
#keyboard {
    display:inline-block;
    padding:10px 15px;
    background-color:#f0f0f0;
    text-align:center;
    margin: 0 auto;
    text-align: center;
     width: 600px;
 }
#keyboard div {
    margin: 0 auto;
    width: 500px;
    padding: 0px;
 }
#space {
    width:184px;
 }
#keyboard label {
    margin-top:20px;
    font-family:serif;
    text-decoration:underline;
 }
#keyboard input {
    box-shadow:2px 2px 2px #666;
    min-width: 40px;
    min-height: 45px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 0px;
 }

 #keyboard button {
    box-shadow:2px 2px 2px #666;
    min-width: 40px;
    min-height: 45px;
    margin-left: 5px;
    margin-bottom: 5px;
}