{% extends "base.html" %}

{% block body %}
<div style="text-align: center; margin: 0 auto;">
	<div class="container" style="margin-top: 5px; margin: 0 auto; text-align: center;">
		<div class="card" style="margin: 0 auto;  background: transparent; border: none;">
			
			    <div class="card-body" style=" padding-left: 0px; padding: 0px;  background: transparent;">

				  	<div style="margin-top: 0px; height: 50px; ">
						  	{% if answer %}
						  	 	{% if answer[0] == word[0] %}
							    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer[0] }}</span>
							    {% elif answer[0] in word %}
							    <span style="margin-top: -20px;  background-color: gold; color: white">{{ answer[0] }}</span>
							    {% else %}
							    <span style="margin-top: -20px;  background-color: gray; color: white">{{ answer[0] }}</span>
							    {% endif %}

							    {% if answer[1] == word[1] %}
							    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer[1] }}</span>
							    {% elif answer[1] in word %}
							    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer[1] }}</span>
							    {% else %}
							    <span style="margin-top: -20px;  background-color: gray; color: white;">{{ answer[1] }}</span>
							    {% endif %}

							    {% if answer[2] == word[2] %}
							    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer[2] }}</span>
							    {% elif answer[2] in word %}
							    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer[2] }}</span>
							    {% else %}
							    <span style="margin-top: -20px;  background-color: gray; color: white;">{{ answer[2] }}</span>
							    {% endif %}

							    {% if answer[3] == word[3] %}
							    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer[3] }}</span>
							    {% elif answer[3] in word %}
							    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer[3] }}</span>
							    {% else %}
							    <span style="margin-top: -20px;  background-color: gray; color: white;">{{ answer[3] }}</span>
							    {% endif %}

							    {% if answer[4] == word[4] %}
							    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer[4] }}</span>
							    {% elif answer[4] in word %}
							    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer[4] }}</span>
							    {% else %}
							    <span style="margin-top: -20px;  background-color: gray; color: white;">{{ answer[4] }}</span>
							    {% endif %}
						    {% else %}
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    {% endif %}
				    </div>

				    <div style=" height: 50px; margin-top: 5px;">
					    {% if answer2 %}
					  	 	{% if answer2[0] == word[0] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer2[0] }}</span>
						    {% elif answer2[0] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer2[0] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer2[0] }}</span>
						    {% endif %}

						    {% if answer2[1] == word[1] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer2[1] }}</span>
						    {% elif answer2[1] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer2[1] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer2[1] }}</span>
						    {% endif %}

						    {% if answer2[2] == word[2] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer2[2] }}</span>
						    {% elif answer2[2] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer2[2] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer2[2] }}</span>
						    {% endif %}

						    {% if answer2[3] == word[3] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer2[3] }}</span>
						    {% elif answer2[3] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer2[3] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer2[3] }}</span>
						    {% endif %}

						    {% if answer2[4] == word[4] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer2[4] }}</span>
						    {% elif answer2[4] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer2[4] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer2[4] }}</span>
						    {% endif %}
					    {% else %}
						    <span style="margin-top: -20px;  background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;  background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;  background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;  background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;  background-color: white; color: white;">o</span>
					    {% endif %}
				    </div>

				    <div style=" height: 50px;  margin-top: 5px;">
					    {% if answer3 %}
					  	 	{% if answer3[0] == word[0] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer3[0] }}</span>
						    {% elif answer3[0] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer3[0] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer3[0] }}</span>
						    {% endif %}

						    {% if answer3[1] == word[1] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer3[1] }}</span>
						    {% elif answer3[1] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer3[1] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer3[1] }}</span>
						    {% endif %}

						    {% if answer3[2] == word[2] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer3[2] }}</span>
						    {% elif answer3[2] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer3[2] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer3[2] }}</span>
						    {% endif %}

						    {% if answer3[3] == word[3] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer3[3] }}</span>
						    {% elif answer3[3] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer3[3] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer3[3] }}</span>
						    {% endif %}

						    {% if answer3[4] == word[4] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer3[4] }}</span>
						    {% elif answer3[4] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer3[4] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer3[4] }}</span>
						    {% endif %}
					    {% else %}
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
					    {% endif %}
				    </div>

				    <div style=" height: 50px;  margin-top: 5px;">
					    {% if answer4 %}
					  	 	{% if answer4[0] == word[0] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer4[0] }}</span>
						    {% elif answer4[0] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer4[0] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer4[0] }}</span>
						    {% endif %}

						    {% if answer4[1] == word[1] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer4[1] }}</span>
						    {% elif answer4[1] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer4[1] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer4[1] }}</span>
						    {% endif %}

						    {% if answer4[2] == word[2] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer4[2] }}</span>
						    {% elif answer4[2] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer4[2] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer4[2] }}</span>
						    {% endif %}

						    {% if answer4[3] == word[3] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer4[3] }}</span>
						    {% elif answer4[3] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer4[3] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer4[3] }}</span>
						    {% endif %}

						    {% if answer4[4] == word[4] %}
						    <span style="margin-top: -20px; background-color: lightseagreen; color: white">{{ answer4[4] }}</span>
						    {% elif answer4[4] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer4[4] }}</span>
						    {% else %}
						    <span style="margin-top: -20px; background-color: gray; color: white;">{{ answer4[4] }}</span>
						    {% endif %}
					    {% else %}
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
					    {% endif %}
				    </div>

				    <div style="height: 50px;  margin-top: 5px;">
					    {% if answer5 %}
					  	 	{% if answer5[0] == word[0] %}
						    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer5[0] }}</span>
						    {% elif answer5[0] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer5[0] }}</span>
						    {% else %}
						    <span style="margin-top: -20px;  background-color: gray; color: white;">{{ answer5[0] }}</span>
						    {% endif %}

						    {% if answer5[1] == word[1] %}
						    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer5[1] }}</span>
						    {% elif answer5[1] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer5[1] }}</span>
						    {% else %}
						    <span style="margin-top: -20px;  background-color: gray; color: white;">{{ answer5[1] }}</span>
						    {% endif %}

						    {% if answer5[2] == word[2] %}
						    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer5[2] }}</span>
						    {% elif answer5[2] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer5[2] }}</span>
						    {% else %}
						    <span style="margin-top: -20px;  background-color: gray; color: white;">{{ answer5[2] }}</span>
						    {% endif %}

						    {% if answer5[3] == word[3] %}
						    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer5[3] }}</span>
						    {% elif answer5[3] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer5[3] }}</span>
						    {% else %}
						    <span style="margin-top: -20px;  background-color: gray; color: white;">{{ answer5[3] }}</span>
						    {% endif %}

						    {% if answer5[4] == word[4] %}
						    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer5[4] }}</span>
						    {% elif answer5[4] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer5[4] }}</span>
						    {% else %}
						    <span style="margin-top: -20px;  background-color: gray; color: white;">{{ answer5[4] }}</span>
						    {% endif %}
					    {% else %}
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
					    {% endif %}
				    </div>

				    <div style=" height: 50px;  margin-top: 5px;">
					    <div style="height: 50px;  margin-top: 5px;">
					    {% if answer6 %}
					  	 	{% if answer6[0] == word[0] %}
						    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer6[0] }}</span>
						    {% elif answer6[0] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer6[0] }}</span>
						    {% else %}
						    <span style="margin-top: -20px;  background-color: gray; color: white;">{{ answer6[0] }}</span>
						    {% endif %}

						    {% if answer6[1] == word[1] %}
						    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer6[1] }}</span>
						    {% elif answer6[1] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer6[1] }}</span>
						    {% else %}
						    <span style="margin-top: -20px;  background-color: gray; color: white;">{{ answer6[1] }}</span>
						    {% endif %}

						    {% if answer6[2] == word[2] %}
						    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer6[2] }}</span>
						    {% elif answer6[2] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer6[2] }}</span>
						    {% else %}
						    <span style="margin-top: -20px;  background-color: gray; color: white;">{{ answer6[2] }}</span>
						    {% endif %}

						    {% if answer6[3] == word[3] %}
						    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer6[3] }}</span>
						    {% elif answer6[3] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer6[3] }}</span>
						    {% else %}
						    <span style="margin-top: -20px;  background-color: gray; color: white;">{{ answer6[3] }}</span>
						    {% endif %}

						    {% if answer6[4] == word[4] %}
						    <span style="margin-top: -20px;  background-color: lightseagreen; color: white">{{ answer6[4] }}</span>
						    {% elif answer6[4] in word %}
						    <span style="margin-top: -20px;   background-color: gold; color: white">{{ answer6[4] }}</span>
						    {% else %}
						    <span style="margin-top: -20px;  background-color: gray; color: white;">{{ answer6[4] }}</span>
						    {% endif %}
					    {% else %}
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
						    <span style="margin-top: -20px;   background-color: white; color: white;">o</span>
					    {% endif %}
				    </div>
			    </div>
		</div>

		<div style="margin: 0 auto; margin-top: 20px;">
		    {% if answer == word or answer2 == word or answer3 == word or answer4 == word or answer5 == word or answer6 == word %}
		    <div><h3>Congratulations, you got the answer correct: ({{ word }})</h3></div>
			  <a href="/"><div class="btn btn-primary">Play again</div></a>
			{% elif answer6 %}
			 <div><h3>Game Over, you didn't get the answer: ({{ word }})</h3></div>
			<a href="/"><div class="btn btn-primary">Play again</div></a>
		    {% else %}
				<form method="POST">
				  <div class="form-group" style="width: 300px;  margin: 0 auto; margin-bottom: 10px; margin-top: 5px">
				    <h6>Input your guess ({{ word }})</h6>
				    <input type="text " class="form-control" id="texts" maxlength="5" placeholder="" name="answer" style="height: 40px; font-size: 35px; text-align: center; text-transform: uppercase;" autofocus="on" >
				  </div>
				  {% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for msg in messages %}
							 <h6 style="margin-top: -5px; padding-bottom: 0px">{{msg}}</h6>
						{% endfor %}
					{% endif %}
				{% endwith %}
			  	<div id="keyboard">
					<div>
					 <input {% if  "Q" in answer or "Q" in answer2 or "Q" in answer3 or "Q" in answer4 or "Q" in answer5 or "Q" in answer6 %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="Q">
					 <input {% if  "W" in answer or "W" in answer2 or "W" in answer3 or "W" in answer4 or "W" in answer5 or "W" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="W">
					 <input {% if  "E" in answer or "E" in answer2 or "E" in answer3 or "E" in answer4 or "E" in answer5 or "E" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="E">
					 <input {% if  "R" in answer or "R" in answer2 or "R" in answer3 or "R" in answer4 or "R" in answer5 or "R" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="R">
					 <input {% if  "T" in answer or "T" in answer2 or "T" in answer3 or "T" in answer4 or "T" in answer5 or "T" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="T">
					 <input {% if  "Y" in answer or "Y" in answer2 or "Y" in answer3 or "Y" in answer4 or "Y" in answer5 or "Y" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="Y">
					 <input {% if  "U" in answer or "U" in answer2 or "U" in answer3 or "U" in answer4 or "U" in answer5 or "U" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="U">
					 <input {% if  "I" in answer or "I" in answer2 or "I" in answer3 or "I" in answer4 or "I" in answer5 or "I" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="I">
					 <input {% if  "O" in answer or "O" in answer2 or "O" in answer3 or "O" in answer4 or "O" in answer5 or "O" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="O">
					 <input {% if  "P" in answer or "P" in answer2 or "P" in answer3 or "P" in answer4 or "P" in answer5 or "P" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="P">
					</div>
					<div>
					 <input {% if  "A" in answer or "A" in answer2 or "A" in answer3 or "A" in answer4 or "A" in answer5 or "A" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="A">
					 <input {% if  "S" in answer or "S" in answer2 or "S" in answer3 or "S" in answer4 or "S" in answer5 or "S" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="S">
					 <input {% if  "D" in answer or "D" in answer2 or "D" in answer3 or "D" in answer4 or "D" in answer5 or "D" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="D">
					 <input {% if  "F" in answer or "F" in answer2 or "F" in answer3 or "F" in answer4 or "F" in answer5 or "F" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="F">
					 <input {% if  "G" in answer or "G" in answer2 or "G" in answer3 or "G" in answer4 or "G" in answer5 or "G" in answer6 %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="G">
					 <input {% if  "H" in answer or "H" in answer2 or "H" in answer3 or "H" in answer4 or "H" in answer5 or "H" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="H">
					 <input {% if  "J" in answer or "J" in answer2 or "J" in answer3 or "J" in answer4 or "J" in answer5 or "J" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="J">
					 <input {% if  "K" in answer or "K" in answer2 or "K" in answer3 or "K" in answer4 or "K" in answer5 or "K" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="K">
					 <input {% if  "L" in answer or "L" in answer2 or "L" in answer3 or "L" in answer4 or "L" in answer5 or "L" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="L">
					</div>
					<div style="margin-bottom: 0px;">
					 <button type="submit"  class="btn btn-light">Enter</button>
					 <input {% if  "Z" in answer or "Z" in answer2 or "Z" in answer3 or "Z" in answer4 or "Z" in answer5 or "Z" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="Z">
					 <input {% if  "X" in answer or "X" in answer2 or "X" in answer3 or "X" in answer4 or "X" in answer5 or "X" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="X">
					 <input {% if  "C" in answer or "C" in answer2 or "C" in answer3 or "C" in answer4 or "C" in answer5 or "C" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="C">
					 <input {% if  "V" in answer or "V" in answer2 or "V" in answer3 or "V" in answer4 or "V" in answer5 or "V" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="V">
					 <input {% if  "B" in answer or "B" in answer2 or "B" in answer3 or "B" in answer4 or "B" in answer5 or "B" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="B">
					 <input {% if  "N" in answer or "N" in answer2 or "N" in answer3 or "N" in answer4 or "N" in answer5 or "N" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="N">
					 <input {% if  "M" in answer or "M" in answer2 or "M" in answer3 or "M" in answer4 or "M" in answer5 or "M" in answer6  %}class="btn btn-secondary"{% else %}class="btn btn-light"{% endif %}type="button" value="M">
					 <input  class="btn btn-light" id="clear" type="reset" value="Clear">
					</div>
				</div><!-- end #keyboard -->
				</form>
		    {% endif %}
		    
		</div>
	</div>
</div>
{% endblock %}
